# Entorno virtual de Python
.venv/
venv/

# Archivos y directorios de Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Archivos de configuraciones locales y secretos
.env
*.env

# Archivos de log
*.log

# Archivos generados por Poetry
poetry.lock

# Archivos de configuración de editor y sistema operativo
.vscode/
.idea/
.DS_Store
